USE [master]
GO
/****** Object:  Database [BloodLine]    Script Date: 05-08-2025 12:49:19 PM ******/
CREATE DATABASE [BloodLine]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BloodLine', FILENAME = N'C:\Users\Namrata\BloodLine.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BloodLine_log', FILENAME = N'C:\Users\Namrata\BloodLine_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BloodLine].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BloodLine]
GO
/****** Object:  Table [dbo].[Districts]    Script Date: 05-08-2025 12:49:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[DistrictID] [int] IDENTITY(1,1) NOT NULL,
	[DistrictName] [varchar](100) NOT NULL,
	[StateID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DistrictID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 05-08-2025 12:49:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[FeedbackText] [nvarchar](1000) NOT NULL,
	[Rating] [int] NULL,
	[SubmittedAt] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[States]    Script Date: 05-08-2025 12:49:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[StateID] [int] IDENTITY(1,1) NOT NULL,
	[StateName] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMaster]    Script Date: 05-08-2025 12:49:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMaster](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[PhoneNumber] [varchar](15) NULL,
	[Gender] [varchar](10) NULL,
	[DateOfBirth] [date] NULL,
	[BloodGroup] [varchar](5) NULL,
	[Address] [varchar](255) NULL,
	[City] [varchar](100) NULL,
	[District] [varchar](100) NULL,
	[State] [varchar](100) NULL,
	[Pincode] [varchar](10) NULL,
	[Role] [varchar](50) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Districts] ON 

INSERT [dbo].[Districts] ([DistrictID], [DistrictName], [StateID]) VALUES (1, N'Alluri Sitharama Raju', 1)
INSERT [dbo].[Districts] ([DistrictID], [DistrictName], [StateID]) VALUES (2, N'Anakapalli', 1)
INSERT [dbo].[Districts] ([DistrictID], [DistrictName], [StateID]) VALUES (3, N'Anantapuramu', 1)
GO
SET IDENTITY_INSERT [dbo].[Districts] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([FeedbackID], [UserID], [FeedbackText], [Rating], [SubmittedAt], [IsActive]) VALUES (4, 7, N'Experience was nice', 5, CAST(N'2025-08-04T23:10:52.837' AS DateTime), 0)
INSERT [dbo].[Feedback] ([FeedbackID], [UserID], [FeedbackText], [Rating], [SubmittedAt], [IsActive]) VALUES (5, 4, N'It was ok', 2, CAST(N'2025-08-04T23:18:58.350' AS DateTime), 1)
INSERT [dbo].[Feedback] ([FeedbackID], [UserID], [FeedbackText], [Rating], [SubmittedAt], [IsActive]) VALUES (7, 7, N'Experince was good', 3, CAST(N'2025-08-05T01:10:07.100' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[States] ON 

INSERT [dbo].[States] ([StateID], [StateName]) VALUES (1, N'Andhra Pradesh')
INSERT [dbo].[States] ([StateID], [StateName]) VALUES (2, N'Arunachal Pradesh')
INSERT [dbo].[States] ([StateID], [StateName]) VALUES (3, N'Assam')
SET IDENTITY_INSERT [dbo].[States] OFF
GO
SET IDENTITY_INSERT [dbo].[UserMaster] ON 

INSERT [dbo].[UserMaster] ([UserID], [FullName], [Email], [PasswordHash], [PhoneNumber], [Gender], [DateOfBirth], [BloodGroup], [Address], [City], [District], [State], [Pincode], [Role], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'string', N'string', N'string', N'string', N'string', CAST(N'2025-08-02' AS Date), N'strin', N'string', N'string', N'string', N'string', N'string', N'string', 1, CAST(N'2025-08-02T16:20:47.347' AS DateTime), CAST(N'2025-08-02T16:20:47.347' AS DateTime))
INSERT [dbo].[UserMaster] ([UserID], [FullName], [Email], [PasswordHash], [PhoneNumber], [Gender], [DateOfBirth], [BloodGroup], [Address], [City], [District], [State], [Pincode], [Role], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (4, N'Nikhil Godse', N'nikhil13@gmail.com', N'Nik@123', N'8654217546', N'Male', CAST(N'2004-02-21' AS Date), N'B+', N'vaduj', N'Pune City', N'Pune', N'Maharashtra', N'411068', N'Receiver', 1, CAST(N'2025-08-02T17:31:37.940' AS DateTime), CAST(N'2025-08-02T17:31:37.940' AS DateTime))
INSERT [dbo].[UserMaster] ([UserID], [FullName], [Email], [PasswordHash], [PhoneNumber], [Gender], [DateOfBirth], [BloodGroup], [Address], [City], [District], [State], [Pincode], [Role], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (5, N'Namrata Godse', N'namrata@gmail.com', N'Namrata@10', N'9999999999', N'Other', CAST(N'2001-08-10' AS Date), N'B+', N'Admin Office', N'Mumbai', N'Mumbai', N'Maharashtra', N'400001', N'Admin', 1, CAST(N'2025-08-02T22:51:34.320' AS DateTime), CAST(N'2025-08-02T22:51:34.320' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserMaster] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UserMast__A9D1053426152306]    Script Date: 05-08-2025 12:49:19 PM ******/
ALTER TABLE [dbo].[UserMaster] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT (getdate()) FOR [SubmittedAt]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserMaster] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserMaster] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Districts]  WITH CHECK ADD FOREIGN KEY([StateID])
REFERENCES [dbo].[States] ([StateID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
/****** Object:  StoredProcedure [dbo].[Feedback_CRUD]    Script Date: 05-08-2025 12:49:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Feedback_CRUD]
    @Action VARCHAR(10),         -- 'INSERT', 'UPDATE', 'DELETE', 'GETALL'
    @UserID INT = NULL,
    @FeedbackText NVARCHAR(1000) = NULL,
    @Rating INT = NULL,
    @FeedbackID INT = NULL,
	@Role VARCHAR(50) = NULL
AS
BEGIN
    --SET NOCOUNT ON;

    IF @Action = 'INSERT'
    BEGIN
        -- Using Cursor to insert one or more feedback rows (example use case)
        DECLARE @TempTable TABLE (UserID INT, FeedbackText NVARCHAR(1000), Rating INT)

        -- Insert one row (you can replace this with more rows if needed)
        INSERT INTO @TempTable (UserID, FeedbackText, Rating)
        VALUES (@UserID, @FeedbackText, @Rating)

        DECLARE feedback_cursor CURSOR FOR
            SELECT UserID, FeedbackText, Rating FROM @TempTable;

        DECLARE @uid INT, @ftext NVARCHAR(1000), @rate INT;

        OPEN feedback_cursor
        FETCH NEXT FROM feedback_cursor INTO @uid, @ftext, @rate

        WHILE @@FETCH_STATUS = 0
        BEGIN
            INSERT INTO Feedback (UserID, FeedbackText, Rating)
            VALUES (@uid, @ftext, @rate);

            FETCH NEXT FROM feedback_cursor INTO @uid, @ftext, @rate
        END

        CLOSE feedback_cursor
        DEALLOCATE feedback_cursor

        PRINT 'Feedback inserted successfully.'
    END

    ELSE IF @Action = 'UPDATE'
    BEGIN
        IF EXISTS (SELECT 1 FROM Feedback WHERE FeedbackID = @FeedbackID)
        BEGIN
            UPDATE Feedback
            SET FeedbackText = @FeedbackText,
                Rating = @Rating,
                SubmittedAt = GETDATE()
            WHERE FeedbackID = @FeedbackID;

            PRINT 'Feedback updated successfully.'
        END
        ELSE
        BEGIN
            PRINT 'Feedback ID not found.'
        END
    END

    ELSE IF @Action = 'DELETE'
	BEGIN
		IF EXISTS (SELECT 1 FROM Feedback WHERE FeedbackID = @FeedbackID)
		BEGIN
			UPDATE Feedback
			SET IsActive = 0
			WHERE FeedbackID = @FeedbackID;

			PRINT 'Feedback soft-deleted successfully.'
		END
		ELSE
		BEGIN
			PRINT 'Feedback ID not found.'
		END
	END


    SELECT 
		F.FeedbackID,
		F.UserID,
		U.FullName,
		U.Role,
		F.FeedbackText,
		F.Rating,
		F.SubmittedAt
	FROM Feedback F
	INNER JOIN UserMaster U ON F.UserID = U.UserID
	WHERE F.IsActive = 1 AND (@Role IS NULL OR U.Role = @Role)
	ORDER BY F.SubmittedAt DESC;

    BEGIN
        PRINT 'Invalid action. Use INSERT, UPDATE, DELETE, or GETALL.'
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllStates]    Script Date: 05-08-2025 12:49:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllStates]
AS
BEGIN
    SELECT StateId, StateName FROM States
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDistrictsByStateId]    Script Date: 05-08-2025 12:49:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetDistrictsByStateId]
    @StateId INT
AS
BEGIN
    SELECT DistrictId, DistrictName, StateId
    FROM Districts
    WHERE StateId = @StateId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LoginUser]    Script Date: 05-08-2025 12:49:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LoginUser]
    @Email VARCHAR(100),
    @PasswordHash VARCHAR(255)
AS
BEGIN
    SELECT UserID, FullName, Email, Role
    FROM UserMaster
    WHERE Email = @Email AND PasswordHash = @PasswordHash AND IsActive = 1;
	SELECT 'Logged in successfully' AS Message;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ManageUserMaster]    Script Date: 05-08-2025 12:49:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ManageUserMaster]
    @Action VARCHAR(20),          
    @UserID INT = NULL,
    @FullName VARCHAR(100) = NULL,
    @Email VARCHAR(100) = NULL,
    @PasswordHash VARCHAR(255) = NULL,
    @PhoneNumber VARCHAR(15) = NULL,
    @Gender VARCHAR(10) = NULL,
    @DateOfBirth DATE = NULL,
    @BloodGroup VARCHAR(5) = NULL,
    @Address VARCHAR(255) = NULL,
    @City VARCHAR(100) = NULL,
    @District VARCHAR(100) = NULL,
    @State VARCHAR(100) = NULL,
    @Pincode VARCHAR(10) = NULL,
    @Role VARCHAR(50) = NULL,
    @IsActive BIT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @Action = 'INSERT'
    BEGIN
        INSERT INTO UserMaster (
            FullName, Email, PasswordHash, PhoneNumber, Gender,
            DateOfBirth, BloodGroup, Address, City, District,
            State, Pincode, Role, IsActive, CreatedAt, UpdatedAt
        )
        VALUES (
            @FullName, @Email, @PasswordHash, @PhoneNumber, @Gender,
            @DateOfBirth, @BloodGroup, @Address, @City, @District,
            @State, @Pincode, @Role, @IsActive, GETDATE(), GETDATE()
        );

        SELECT 'Data inserted successfully' AS Message;
    END

    ELSE IF @Action = 'UPDATE'
BEGIN
    UPDATE UserMaster
    SET
        FullName = @FullName,
        Email = @Email,
        PasswordHash = ISNULL(@PasswordHash, PasswordHash),
        PhoneNumber = @PhoneNumber,
        Gender = @Gender,
        DateOfBirth = @DateOfBirth,
        BloodGroup = @BloodGroup,
        Address = @Address,
        City = @City,
        District = @District,
        State = @State,
        Pincode = @Pincode,
        Role = @Role,
        IsActive = @IsActive,
        UpdatedAt = GETDATE()
    WHERE UserID = @UserID;

    SELECT 'Data updated successfully' AS Message;
END


    ELSE IF @Action = 'DELETE'
    BEGIN
        DELETE FROM UserMaster
        WHERE UserID = @UserID;

        SELECT 'Data deleted successfully' AS Message;
    END

    ELSE IF @Action = 'GET'
    BEGIN
        SELECT * FROM UserMaster;
    END

	ELSE IF @Action = 'GET_ALL_DONORS'
    BEGIN
        SELECT * FROM UserMaster
        WHERE Role = 'Donor';
    END

    ELSE IF @Action = 'GET_ALL_RECEIVERS'
    BEGIN
        SELECT * FROM UserMaster
        WHERE Role = 'Receiver';
    END

    ELSE IF @Action = 'GET_ALL_BLOODBANKS'
    BEGIN
        SELECT * FROM UserMaster
        WHERE Role = 'BloodBank';
    END

	ELSE IF @Action = 'TOGGLE_STATUS'
	BEGIN
		UPDATE UserMaster
		SET IsActive = 
			CASE WHEN IsActive = 1 THEN 0 ELSE 1 END
		WHERE UserID = @UserID
	END

	ELSE IF @Action = 'GET_BY_ID'
	BEGIN
		SELECT * FROM UserMaster
		WHERE UserID = @UserID;
	END

    ELSE
    BEGIN
        RAISERROR('Invalid Action. Use INSERT, UPDATE, DELETE, GET,GET_ALL_DONORS, GET_ALL_RECEIVERS, GET_ALL_BLOODBANKS, TOGGLE_STATUS or GET_BY_ID.', 16, 1);
    END
END;
GO
USE [master]
GO
