USE [master]
GO
/****** Object:  Database [BloodLine]    Script Date: 08-08-2025 03:10:26 PM ******/
CREATE DATABASE [BloodLine]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BloodLine', FILENAME = N'C:\Users\Namrata\BloodLine.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BloodLine_log', FILENAME = N'C:\Users\Namrata\BloodLine_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BloodLine].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BloodLine]
GO
/****** Object:  Table [dbo].[BloodDonation]    Script Date: 08-08-2025 03:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodDonation](
	[DonationID] [int] IDENTITY(1,1) NOT NULL,
	[DonorID] [int] NOT NULL,
	[BloodBankID] [int] NOT NULL,
	[BloodGroup] [varchar](5) NOT NULL,
	[UnitsDonated] [int] NOT NULL,
	[DonationDate] [datetime] NULL,
	[IsAddedToInventory] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DonationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BloodInventory]    Script Date: 08-08-2025 03:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodInventory](
	[InventoryId] [int] IDENTITY(1,1) NOT NULL,
	[BloodBankId] [int] NOT NULL,
	[BloodGroup] [nvarchar](5) NOT NULL,
	[UnitsAvailable] [int] NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_BloodInventory_BloodBankGroup] UNIQUE NONCLUSTERED 
(
	[BloodBankId] ASC,
	[BloodGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BloodRequest]    Script Date: 08-08-2025 03:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodRequest](
	[RequestId] [int] IDENTITY(1,1) NOT NULL,
	[RequesterId] [int] NOT NULL,
	[BloodGroup] [nvarchar](5) NOT NULL,
	[UnitsRequired] [int] NOT NULL,
	[RequiredDate] [date] NOT NULL,
	[Reason] [nvarchar](255) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[BloodBankId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Districts]    Script Date: 08-08-2025 03:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[DistrictID] [int] IDENTITY(1,1) NOT NULL,
	[DistrictName] [varchar](100) NOT NULL,
	[StateID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DistrictID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 08-08-2025 03:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[FeedbackText] [nvarchar](1000) NOT NULL,
	[Rating] [int] NULL,
	[SubmittedAt] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[States]    Script Date: 08-08-2025 03:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[StateID] [int] IDENTITY(1,1) NOT NULL,
	[StateName] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMaster]    Script Date: 08-08-2025 03:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMaster](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[PhoneNumber] [varchar](15) NULL,
	[Gender] [varchar](10) NULL,
	[DateOfBirth] [date] NULL,
	[BloodGroup] [varchar](5) NULL,
	[Address] [varchar](255) NULL,
	[City] [varchar](100) NULL,
	[District] [varchar](100) NULL,
	[State] [varchar](100) NULL,
	[Pincode] [varchar](10) NULL,
	[Role] [varchar](50) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[AadhaarNumber] [nvarchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BloodDonation] ADD  DEFAULT (getdate()) FOR [DonationDate]
GO
ALTER TABLE [dbo].[BloodDonation] ADD  CONSTRAINT [DF_BloodDonation_IsAddedToInventory]  DEFAULT ((0)) FOR [IsAddedToInventory]
GO
ALTER TABLE [dbo].[BloodInventory] ADD  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[BloodInventory] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[BloodRequest] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[BloodRequest] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BloodRequest] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT (getdate()) FOR [SubmittedAt]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserMaster] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserMaster] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[BloodDonation]  WITH CHECK ADD FOREIGN KEY([BloodBankID])
REFERENCES [dbo].[UserMaster] ([UserID])
GO
ALTER TABLE [dbo].[BloodDonation]  WITH CHECK ADD FOREIGN KEY([DonorID])
REFERENCES [dbo].[UserMaster] ([UserID])
GO
ALTER TABLE [dbo].[BloodInventory]  WITH CHECK ADD FOREIGN KEY([BloodBankId])
REFERENCES [dbo].[UserMaster] ([UserID])
GO
ALTER TABLE [dbo].[BloodRequest]  WITH CHECK ADD FOREIGN KEY([RequesterId])
REFERENCES [dbo].[UserMaster] ([UserID])
GO
ALTER TABLE [dbo].[BloodRequest]  WITH CHECK ADD  CONSTRAINT [FK_BloodRequest_UserMaster_BloodBank] FOREIGN KEY([BloodBankId])
REFERENCES [dbo].[UserMaster] ([UserID])
GO
ALTER TABLE [dbo].[BloodRequest] CHECK CONSTRAINT [FK_BloodRequest_UserMaster_BloodBank]
GO
ALTER TABLE [dbo].[Districts]  WITH CHECK ADD FOREIGN KEY([StateID])
REFERENCES [dbo].[States] ([StateID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BloodDonation]  WITH CHECK ADD CHECK  (([UnitsDonated]>(0)))
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
/****** Object:  StoredProcedure [dbo].[Feedback_CRUD]    Script Date: 08-08-2025 03:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Feedback_CRUD]
    @Action VARCHAR(10),         -- 'INSERT', 'UPDATE', 'DELETE', 'GETALL'
    @UserID INT = NULL,
    @FeedbackText NVARCHAR(1000) = NULL,
    @Rating INT = NULL,
    @FeedbackID INT = NULL,
	@Role VARCHAR(50) = NULL
AS
BEGIN
    --SET NOCOUNT ON;

    IF @Action = 'INSERT'
    BEGIN
        -- Using Cursor to insert one or more feedback rows (example use case)
        DECLARE @TempTable TABLE (UserID INT, FeedbackText NVARCHAR(1000), Rating INT)

        -- Insert one row (you can replace this with more rows if needed)
        INSERT INTO @TempTable (UserID, FeedbackText, Rating)
        VALUES (@UserID, @FeedbackText, @Rating)

        DECLARE feedback_cursor CURSOR FOR
            SELECT UserID, FeedbackText, Rating FROM @TempTable;

        DECLARE @uid INT, @ftext NVARCHAR(1000), @rate INT;

        OPEN feedback_cursor
        FETCH NEXT FROM feedback_cursor INTO @uid, @ftext, @rate

        WHILE @@FETCH_STATUS = 0
        BEGIN
            INSERT INTO Feedback (UserID, FeedbackText, Rating)
            VALUES (@uid, @ftext, @rate);

            FETCH NEXT FROM feedback_cursor INTO @uid, @ftext, @rate
        END

        CLOSE feedback_cursor
        DEALLOCATE feedback_cursor

        PRINT 'Feedback inserted successfully.'
    END

    ELSE IF @Action = 'UPDATE'
    BEGIN
        IF EXISTS (SELECT 1 FROM Feedback WHERE FeedbackID = @FeedbackID)
        BEGIN
            UPDATE Feedback
            SET FeedbackText = @FeedbackText,
                Rating = @Rating,
                SubmittedAt = GETDATE()
            WHERE FeedbackID = @FeedbackID;

            PRINT 'Feedback updated successfully.'
        END
        ELSE
        BEGIN
            PRINT 'Feedback ID not found.'
        END
    END

    ELSE IF @Action = 'DELETE'
	BEGIN
		IF EXISTS (SELECT 1 FROM Feedback WHERE FeedbackID = @FeedbackID)
		BEGIN
			UPDATE Feedback
			SET IsActive = 0
			WHERE FeedbackID = @FeedbackID;

			PRINT 'Feedback soft-deleted successfully.'
		END
		ELSE
		BEGIN
			PRINT 'Feedback ID not found.'
		END
	END


    SELECT 
		F.FeedbackID,
		F.UserID,
		U.FullName,
		U.Role,
		F.FeedbackText,
		F.Rating,
		F.SubmittedAt
	FROM Feedback F
	INNER JOIN UserMaster U ON F.UserID = U.UserID
	WHERE F.IsActive = 1 AND (@Role IS NULL OR U.Role = @Role)
	ORDER BY F.SubmittedAt DESC;

    BEGIN
        PRINT 'Invalid action. Use INSERT, UPDATE, DELETE, or GETALL.'
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AddToBloodInventory]    Script Date: 08-08-2025 03:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddToBloodInventory]
    @DonationID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @BloodBankID INT,
        @BloodGroup VARCHAR(5),
        @Units INT;

    -- Step 1: Get donation details
    SELECT 
        @BloodBankID = BloodBankID,
        @BloodGroup = BloodGroup,
        @Units = UnitsDonated
    FROM BloodDonation
    WHERE DonationID = @DonationID AND IsAddedToInventory = 0;

    -- Step 2: If already added or invalid
    IF @BloodBankID IS NULL
    BEGIN
        PRINT 'Invalid or already processed donation.';
        RETURN;
    END

    -- Step 3: Check if inventory exists
    IF EXISTS (
        SELECT 1 FROM BloodInventory
        WHERE BloodBankID = @BloodBankID AND BloodGroup = @BloodGroup
    )
    BEGIN
        -- Update existing
        UPDATE BloodInventory
        SET UnitsAvailable = UnitsAvailable + @Units,
			LastUpdated = GETDATE()
        WHERE BloodBankID = @BloodBankID AND BloodGroup = @BloodGroup;
    END
    ELSE
    BEGIN
        -- Insert new
        INSERT INTO BloodInventory (BloodBankID, BloodGroup, UnitsAvailable)
        VALUES (@BloodBankID, @BloodGroup, @Units);
    END

    -- Step 4: Mark donation as added
    UPDATE BloodDonation
    SET IsAddedToInventory = 1
    WHERE DonationID = @DonationID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BloodInventory_CRUD]    Script Date: 08-08-2025 03:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BloodInventory_CRUD]
    @Action NVARCHAR(20),
    @InventoryId INT = NULL,
    @BloodBankId INT = NULL,
    @BloodGroup NVARCHAR(5) = NULL,
    @UnitsAvailable INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @Action = 'INSERT'
    BEGIN
        INSERT INTO BloodInventory (
            BloodBankId,
            BloodGroup,
            UnitsAvailable,
            LastUpdated,
            IsActive
        )
        VALUES (
            @BloodBankId,
            @BloodGroup,
            @UnitsAvailable,
            GETDATE(),
            1
        )
    END

    ELSE IF @Action = 'UPDATE'
    BEGIN
        UPDATE BloodInventory
        SET
            BloodGroup = @BloodGroup,
            UnitsAvailable = @UnitsAvailable,
            LastUpdated = GETDATE()
        WHERE InventoryId = @InventoryId AND IsActive = 1
    END

    ELSE IF @Action = 'DELETE'
    BEGIN
        UPDATE BloodInventory
        SET IsActive = 0
        WHERE InventoryId = @InventoryId
    END

    ELSE IF @Action = 'GETALL'
    BEGIN
        SELECT *
        FROM BloodInventory
        WHERE IsActive = 1
        ORDER BY LastUpdated DESC
    END

    ELSE IF @Action = 'GETBYBLOODBANKID'
    BEGIN
        SELECT *
        FROM BloodInventory
        WHERE IsActive = 1 AND BloodBankId = @BloodBankId
        ORDER BY LastUpdated DESC
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BloodRequest_CRUD]    Script Date: 08-08-2025 03:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_BloodRequest_CRUD]
    @Action NVARCHAR(20),
    @RequestId INT = NULL,
    @RequesterId INT = NULL,
    @BloodBankId INT = NULL, -- ✅ New parameter
    @BloodGroup NVARCHAR(5) = NULL,
    @UnitsRequired INT = NULL,
    @RequiredDate DATE = NULL,
    @Reason NVARCHAR(255) = NULL,
    @Status NVARCHAR(20) = NULL
AS
BEGIN
    --SET NOCOUNT ON;

    IF @Action = 'INSERT'
    BEGIN
        INSERT INTO BloodRequest (
            RequesterId,
            BloodBankId, -- ✅ New column
            BloodGroup,
            UnitsRequired,
            RequiredDate,
            Reason,
            Status,
            CreatedAt,
            IsActive
        )
        VALUES (
            @RequesterId,
            @BloodBankId, -- ✅ Value inserted
            @BloodGroup,
            @UnitsRequired,
            @RequiredDate,
            @Reason,
            'Pending',
            GETDATE(),
            1
        )
    END

    ELSE IF @Action = 'UPDATE'
    BEGIN
        UPDATE BloodRequest
        SET
            BloodGroup = ISNULL(@BloodGroup, BloodGroup),
            UnitsRequired = ISNULL(@UnitsRequired, UnitsRequired),
            RequiredDate = ISNULL(@RequiredDate, RequiredDate),
            Reason = ISNULL(@Reason, Reason),
            Status = ISNULL(@Status, Status)
        WHERE RequestId = @RequestId AND IsActive = 1
    END

    ELSE IF @Action = 'GETBYSTATUSWITHUSER'
BEGIN
    SELECT 
        br.RequestId,
        br.RequesterId,
        um.FullName AS RequesterName,
        br.BloodBankId,
        bb.FullName AS BloodBankName, -- JOIN for BloodBank Name
        br.BloodGroup,
        br.UnitsRequired,
        br.RequiredDate,
        br.Reason,
        br.Status,
        br.CreatedAt
    FROM BloodRequest br
    INNER JOIN UserMaster um ON br.RequesterId = um.UserId
    INNER JOIN UserMaster bb ON br.BloodBankId = bb.UserId -- JOIN to get BloodBank Name
    WHERE br.Status = @Status 
      AND br.BloodBankId = @BloodBankId -- 👈 New filter
      AND br.IsActive = 1
	  AND br.BloodBankId IS NOT NULL
    ORDER BY br.CreatedAt DESC
END



    ELSE IF @Action = 'DELETE'
    BEGIN
        UPDATE BloodRequest
        SET IsActive = 0
        WHERE RequestId = @RequestId
    END

    ELSE IF @Action = 'GETALL'
    BEGIN
        SELECT *
        FROM BloodRequest
        WHERE IsActive = 1
            AND (@BloodBankId IS NULL OR BloodBankId = @BloodBankId) -- ✅ Optional filter
        ORDER BY CreatedAt DESC
    END

    ELSE IF @Action = 'GETBYUSERID'
    BEGIN
        SELECT *
        FROM BloodRequest
        WHERE IsActive = 1 AND RequesterId = @RequesterId
            AND (@BloodBankId IS NULL OR BloodBankId = @BloodBankId) -- ✅ Optional filter
        ORDER BY CreatedAt DESC
    END

    ELSE IF @Action = 'UPDATESTATUS'
    BEGIN
        UPDATE BloodRequest
        SET Status = @Status
        WHERE RequestId = @RequestId
    END

    ELSE IF @Action = 'GETALLWITHUSER'
BEGIN
    SELECT 
        br.RequestId,
        br.RequesterId,
        um.FullName AS RequesterName,
        br.BloodBankId,
        bb.FullName AS BloodBankName,
        br.BloodGroup,
        br.UnitsRequired,
        br.RequiredDate,
        br.Reason,
        br.Status,
        br.CreatedAt
    FROM BloodRequest br
    INNER JOIN UserMaster um ON br.RequesterId = um.UserId
    INNER JOIN UserMaster bb ON br.BloodBankId = bb.UserId
    WHERE br.IsActive = 1
      AND br.BloodBankId IS NOT NULL -- 👈 ADD THIS LINE TO FIX
    ORDER BY br.CreatedAt DESC
END



    ELSE IF @Action = 'GET_REQUEST_COUNTS'
    BEGIN
        SELECT
            COUNT(*) AS TotalRequests,
            SUM(CASE WHEN Status = 'Pending' THEN 1 ELSE 0 END) AS PendingRequests,
            SUM(CASE WHEN Status = 'Approved' THEN 1 ELSE 0 END) AS ApprovedRequests,
            SUM(CASE WHEN Status = 'Rejected' THEN 1 ELSE 0 END) AS RejectedRequests
        FROM BloodRequest
        WHERE IsActive = 1
            AND (@BloodBankId IS NULL OR BloodBankId = @BloodBankId) -- ✅ Optional filter
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAdminDashboardCounts]    Script Date: 08-08-2025 03:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAdminDashboardCounts]
AS
BEGIN
    SELECT
        (SELECT COUNT(*) FROM UserMaster WHERE Role = 'Donor') AS DonorCount,
        (SELECT COUNT(*) FROM UserMaster WHERE Role = 'Receiver') AS ReceiverCount,
        (SELECT COUNT(*) FROM UserMaster WHERE Role = 'BloodBank') AS BloodBankCount,
        (SELECT COUNT(*) FROM Feedback) AS FeedbackCount
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllStates]    Script Date: 08-08-2025 03:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllStates]
AS
BEGIN
    SELECT StateId, StateName FROM States
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAvailableBloodBanks]    Script Date: 08-08-2025 03:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAvailableBloodBanks]
    @District NVARCHAR(100),
    @BloodGroup NVARCHAR(10),
    @UnitsRequired INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        u.UserID AS BloodBankId,
        u.FullName AS BloodBankName,
        u.District,
        bi.BloodGroup,
        bi.UnitsAvailable
    FROM 
        UserMaster u
    INNER JOIN 
        BloodInventory bi ON u.UserID = bi.BloodBankId
    WHERE 
        u.Role = 'BloodBank'
        AND u.District = @District
        AND bi.BloodGroup = @BloodGroup
        AND bi.UnitsAvailable >= @UnitsRequired
        AND u.IsActive = 1
        AND bi.IsActive = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBloodBanksByDistrict]    Script Date: 08-08-2025 03:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetBloodBanksByDistrict]
    @DistrictName VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        UserID,
        FullName,
        Email,
        PhoneNumber,
        Address,
        State,
        District,
        City
    FROM 
        UserMaster
    WHERE 
        Role = 'BloodBank' AND District = @DistrictName;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBloodInventoryByBloodBankId]    Script Date: 08-08-2025 03:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetBloodInventoryByBloodBankId]
    @BloodBankID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        BI.BloodGroup,
        BI.UnitsAvailable,
        BI.LastUpdated,
        UM.FullName AS BloodBankName
    FROM 
        BloodInventory BI
    INNER JOIN 
        UserMaster UM ON BI.BloodBankID = UM.UserID
    WHERE 
        BI.BloodBankID = @BloodBankID
        AND UM.Role = 'BloodBank'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBloodRequestsByRequester]    Script Date: 08-08-2025 03:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetBloodRequestsByRequester] 
@RequesterId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        br.RequestId,
        br.RequesterId,
        requester.FullName AS RequesterName,
        br.BloodBankId,
        bloodBank.FullName AS BloodBankName,
        br.BloodGroup,
        br.UnitsRequired,
        br.RequiredDate,
        br.Reason,
        br.Status,
        br.CreatedAt
    FROM BloodRequest br
    INNER JOIN UserMaster requester ON br.RequesterId = requester.UserId
    INNER JOIN UserMaster bloodBank ON br.BloodBankId = bloodBank.UserId
    WHERE br.IsActive = 1 AND br.RequesterId = @RequesterId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBloodRequestsWithDetails]    Script Date: 08-08-2025 03:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetBloodRequestsWithDetails]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
		br.RequestId,
        br.RequesterId,
        requester.FullName AS RequesterName,
        br.BloodBankId,
        bloodBank.FullName AS BloodBankName,
        br.BloodGroup,
        br.UnitsRequired,
        br.RequiredDate,
        br.Reason,
        br.Status,
        br.CreatedAt
    FROM BloodRequest br
    INNER JOIN UserMaster requester ON br.RequesterId = requester.UserId
    INNER JOIN UserMaster bloodBank ON br.BloodBankId = bloodBank.UserId
	WHERE br.IsActive = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDistrictsByStateId]    Script Date: 08-08-2025 03:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetDistrictsByStateId]
    @StateId INT
AS
BEGIN
    SELECT DistrictId, DistrictName, StateId
    FROM Districts
    WHERE StateId = @StateId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDonationByBloodBankId]    Script Date: 08-08-2025 03:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetDonationByBloodBankId]
    @BloodBankID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        d.DonationID,
        d.DonorID,
        Donor.FullName AS DonorName,
        d.BloodBankID,
        Bank.FullName AS BloodBankName,
        d.BloodGroup,
        d.UnitsDonated,
        d.DonationDate,
        d.IsAddedToInventory
    FROM BloodDonation d
    INNER JOIN UserMaster Donor ON d.DonorID = Donor.UserID AND Donor.Role = 'Donor'
    INNER JOIN UserMaster Bank ON d.BloodBankID = Bank.UserID AND Bank.Role = 'BloodBank'
    WHERE d.BloodBankID = @BloodBankID
    ORDER BY d.DonationDate DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDonationsByDonorId]    Script Date: 08-08-2025 03:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetDonationsByDonorId]
  @DonorID INT
AS
BEGIN
  SET NOCOUNT ON;

  SELECT 
    d.DonationId,
	d.DonorID,  
    d.UnitsDonated,
    d.BloodGroup,
    d.DonationDate,
    d.BloodBankID,
    u.FullName AS BloodBankName
  FROM 
    BloodDonation d
  INNER JOIN 
    UserMaster u ON d.BloodBankID = u.UserID
  WHERE 
    d.DonorID = @DonorID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertDonation]    Script Date: 08-08-2025 03:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertDonation]
    @DonorID INT,
    @BloodBankID INT,
    @BloodGroup VARCHAR(5),
    @UnitsDonated INT
AS
BEGIN
    --SET NOCOUNT ON;

    INSERT INTO BloodDonation (
        DonorID,
        BloodBankID,
        BloodGroup,
        UnitsDonated,
        IsAddedToInventory
    )
    VALUES (
        @DonorID,
        @BloodBankID,
        @BloodGroup,
        @UnitsDonated,
        0 -- Not yet added to inventory
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LoginUser]    Script Date: 08-08-2025 03:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LoginUser]
    @Email VARCHAR(100),
    @PasswordHash VARCHAR(255)
AS
BEGIN
    SELECT UserID, FullName, Email, Role
    FROM UserMaster
    WHERE Email = @Email AND PasswordHash = @PasswordHash AND IsActive = 1;
	SELECT 'Logged in successfully' AS Message;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ManageUserMaster]    Script Date: 08-08-2025 03:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ManageUserMaster]
    @Action VARCHAR(20),          
    @UserID INT = NULL,
    @FullName VARCHAR(100) = NULL,
    @Email VARCHAR(100) = NULL,
    @PasswordHash VARCHAR(255) = NULL,
    @PhoneNumber VARCHAR(15) = NULL,
    @Gender VARCHAR(10) = NULL,
    @DateOfBirth DATE = NULL,
    @BloodGroup VARCHAR(5) = NULL,
    @Address VARCHAR(255) = NULL,
    @City VARCHAR(100) = NULL,
    @District VARCHAR(100) = NULL,
    @State VARCHAR(100) = NULL,
    @Pincode VARCHAR(10) = NULL,
    @Role VARCHAR(50) = NULL,
    @IsActive BIT = NULL,
	@AadhaarNumber VARCHAR(12) = NULL

AS
BEGIN
    SET NOCOUNT ON;

    IF @Action = 'INSERT'
    BEGIN
        INSERT INTO UserMaster (
            FullName, Email, PasswordHash, PhoneNumber, Gender,
            DateOfBirth, BloodGroup, Address, City, District,
            State, Pincode, Role, IsActive,AadhaarNumber, CreatedAt, UpdatedAt
        )
        VALUES (
            @FullName, @Email, @PasswordHash, @PhoneNumber, @Gender,
            @DateOfBirth, @BloodGroup, @Address, @City, @District,
            @State, @Pincode, @Role, @IsActive,@AadhaarNumber,  GETDATE(), GETDATE()
        );

        SELECT 'Data inserted successfully' AS Message;
    END

    ELSE IF @Action = 'UPDATE'
BEGIN
    UPDATE UserMaster
    SET
        FullName = @FullName,
        Email = @Email,
        PasswordHash = ISNULL(@PasswordHash, PasswordHash),
        PhoneNumber = @PhoneNumber,
        Gender = @Gender,
        DateOfBirth = @DateOfBirth,
        BloodGroup = @BloodGroup,
        Address = @Address,
        City = @City,
        District = @District,
        State = @State,
        Pincode = @Pincode,
        Role = @Role,
		AadhaarNumber = @AadhaarNumber,
        IsActive = @IsActive,
        UpdatedAt = GETDATE()
    WHERE UserID = @UserID;

    SELECT 'Data updated successfully' AS Message;
END


    ELSE IF @Action = 'DELETE'
    BEGIN
        DELETE FROM UserMaster
        WHERE UserID = @UserID;

        SELECT 'Data deleted successfully' AS Message;
    END

    ELSE IF @Action = 'GET'
    BEGIN
        SELECT * FROM UserMaster;
    END

	ELSE IF @Action = 'GET_ALL_DONORS'
    BEGIN
        SELECT * FROM UserMaster
        WHERE Role = 'Donor';
    END

    ELSE IF @Action = 'GET_ALL_RECEIVERS'
    BEGIN
        SELECT * FROM UserMaster
        WHERE Role = 'Receiver';
    END

    ELSE IF @Action = 'GET_ALL_BLOODBANKS'
    BEGIN
        SELECT * FROM UserMaster
        WHERE Role = 'BloodBank';
    END

	ELSE IF @Action = 'TOGGLE_STATUS'
	BEGIN
		UPDATE UserMaster
		SET IsActive = 
			CASE WHEN IsActive = 1 THEN 0 ELSE 1 END
		WHERE UserID = @UserID
	END

	ELSE IF @Action = 'GET_BY_ID'
	BEGIN
		SELECT * FROM UserMaster
		WHERE UserID = @UserID;
	END

    ELSE
    BEGIN
        RAISERROR('Invalid Action. Use INSERT, UPDATE, DELETE, GET,GET_ALL_DONORS, GET_ALL_RECEIVERS, GET_ALL_BLOODBANKS, TOGGLE_STATUS or GET_BY_ID.', 16, 1);
    END
END;
GO
USE [master]
GO
